/* Tailwidn css Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mode Change Css */
.dark {
  background-color: #05141c;
}

.dark select {
  background-color: #05141c;
}

.light {
  background-color: #effffd;
}

.light h2 span {
  color: #29313d;
}

.light input {
  background-color: rgba(241, 251, 251, 0.5);
  color: #29313d;
  border: 1px solid #d2d3d3;
}

.light .gender_box {
  border-color: #d2d3d3;
}

.light form p {
  color: #d17274;
}

.light p {
  color: #05141c;
}

.light label {
  color: #848f95;
}

.light button {
  box-shadow: none !important;
}

.light .avatar {
  background-color: rgba(241, 251, 251, 0.5);
  border-color: #21d997;
}

.light .singin {
  color: #05141c;
}

.select {
  position: relative;
  overflow: hidden;
}
